#ind{
    text-align: center;
    line-height: 20px;
    margin-top: 70px;
    position: relative;
    ;
}
.text-ind-1{
    padding-top: 90px;
    font-size: 50px;

}
.text-ind-2{
    font-size: 65px;
    padding-top: 20px;
    font-weight: bold;

}
.text-ind-3{
    font-size: 30px;
    padding-top: 35px;

}
.text-family{
    font-family: 'Open Sans Condensed', sans-serif ;
}
a.nav-hover:hover, a.nav-hover:active{
    background: #0e8ee3
}

.contactme{
    padding-top: 10px;
    margin-top: 10px;
}
.contact{
    width: 300px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
}

    
.social-media  a{
    
    text-decoration: none;
    transition: 0.4s;
    color: black;
    font-size: 30px;
    padding: 5px;
    margin-right:5px;
}
.social-media a:hover{
    background-color:white

}
.social-media a:hover > i{
    transform: scale(1.6) rotate(25deg);

}
.aboutme-show{
    font-size: 100px;
    transform: translate(-50% -50%);
    width: 400px;
    margin-left: 150px;
}
h2{
    font-size: 40px;
    font-family:'Open Sans Condensed', sans-serif ;
    font-weight: bold;
    margin-top: 50px;

}
.aboutme-details{
    margin-top: 55px;
    font-family:'Open Sans Condensed', sans-serif ;
    font-weight: bold;
    text-align: justify;

}
h3{
    font-size: 35px;
    font-weight: bold;
    padding-top: 50px;

}
.aboutme{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.7903536414565826) 2%, rgba(224,224,224,1) 71%, rgba(148,148,148,1) 83%, rgba(156,156,156,1) 89%, rgba(140,140,140,1) 94%, rgba(140,140,140,1) 97%, rgba(160,160,160,1) 100%);

}
li{
    font-weight: bold;
}
#footer{
    background-color:#333231 ;
}

.social-media-footer  a{
    
    text-decoration: none;
    transition: 0.4s;
    color: #706e6c;
    font-size: 20px;
    padding: 5px;
    margin-right:5px;
}
.social-media-footer a:hover{
    background-color:#333231;

}
.social-media-footer a:hover > i{
    transform: scale(1.6) rotate(25deg);

}
